.productos-index .pro-col-nombre {
    width: 15%;
}

.productos-index .pro-col-precio {
    width: 8%;
}

.productos-index .pro-col-sku {
    width: 6%;
}

.productos-index .pro-col-estado {
    width: 10%;
    text-align: center;
}

.productos-index .pro-col-actualizacion {
    width: 7%;
}

.productos-index .pro-col-acciones {
    width: 10%;
    text-align: center;
    white-space: nowrap;
}

.productos-index {
    margin-top: 0;
    padding-top: 0;
}