.metodosEnvios-index .met-env-col-metodo {
    width: 20%;
}

.metodosEnvios-index .met-env-col-descripcion {
    width: 20%;
}

.metodosEnvios-index .met-env-col-estado {
    width: 20%;
}

.metodosEnvios-index .met-env-col-creacion {
    width: 20%;
}

.metodosEnvios-index .met-env-col-acciones {
    width: 9%;
    text-align: center;
    white-space: nowrap;
}

.metodosEnvios-index {
    margin-top: 0;
    padding-top: 0;
}
