.colores-index .col-col-nombre {
    width: 7%;
}

.colores-index .col-col-codigo {
    width: 7%;
    text-align: center
}

.colores-index .col-col-estado {
    width: 7%;
    text-align: center;
}

.colores-index .col-col-creacion {
    width: 6%;
    text-align: center
}

.colores-index .col-col-acciones {
    width: 4%;
    white-space: nowrap;
}

.colores-index {
    margin-top: 0;
    padding-top: 0;
}
