.dirUsuarios-index .dir-usu-col-direccion {
    width: 30%;
}

.dirUsuarios-index .dir-usu-col-ubicacion {
    width: 20%;
}

.dirUsuarios-index .dir-usu-col-contacto {
    width: 15%;
}

.dirUsuarios-index .dir-usu-col-principal {
    width: 10%;
    text-align: center;
}

.dirUsuarios-index .dir-usu-col-estado {
    width: 10%;
    text-align: center;
}

.dirUsuarios-index .dir-usu-col-acciones {
    width: 15%;
    text-align: center;
    white-space: nowrap;
}

.dirUsuarios-index {
    margin-top: 0;
    padding-top: 0;
}
