.inventario-index .inv-col-producto {
    width: 10%;
}

.inventario-index .inv-col-talla {
    width: 10%;
}

.inventario-index .inv-col-stock {
    width: 10%;
}

.inventario-index .inv-col-stockminimo {
    width: 10%;
}

.inventario-index .inv-col-acciones {
    width: 10%;
    text-align: center;
    white-space: nowrap;
}
